
<left>
    <img src="http://epecora.com.br/DataFiles/PPGOLD_logo.png" width="300" alt="PPGOLD Data Science: INTRO"  />
</left>

# *Data Science - LAB 02*


---




Estimando o preço de venda de um carro



# Aula 02 de Data Science - LAB02

Tempo estimado: **60** minutos

## Objetivos

Após completar este LAB, você será capaz de:

* Importar Bibliotecas no Python
* Adquirir dados de várias maneiras (Data Aquisition)
* Obtenher insights a partir de dados com a biblioteca Pandas (Data Insight)
<hr>

<h2>Sumário</h2>

<div class="alert alert-block alert-info" style="margin-top: 20px">
<ol>
    <li><a href="#data_acquisition">Data Acquisition</a>
    <li><a href="#basic_insight">Basic Insight of Dataset</a></li>
</ol>

</div>
<hr>

<h1 id="data_acquisition">Data Acquisition</h1>
<p>
Existem vários formatos para um conjunto de dados: .csv, .json, .xlsx etc. O conjunto de dados pode ser armazenado em diferentes locais, em sua máquina local ou às vezes online.<br>

Nesta seção, você aprenderá como carregar um conjunto de dados em nosso Jupyter Notebook.<br>


Em nosso caso, o Dataset Automóvel é uma fonte online, e está em formato CSV (comma separated value). Vamos usar este conjunto de dados como um exemplo para praticar a leitura de dados.



<ul>
    <li>Data source: <a href="https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDA0101ENSkillsNetwork20235326-2021-01-01" target="_blank">https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data</a></li>
    <li>Data type: csv</li>
</ul>

<br>

A Biblioteca Pandas nos permite ler vários conjuntos de dados em um <i>DataFrame</i>
</p>
<hr>

In [ ]:
# import libraries
import pandas as pd  # Biblioteca para os DataFrames
import numpy as np   # Biblioteca Numérica

<h2>Read Data</h2>
<p>
Usamos a função <code>pandas.read_csv()</code> para ler o arquivo csv. Entre parênteses, colocamos o caminho do arquivo junto com uma aspas para que a pandas leia o arquivo e o escreva em um dataframe. O caminho do arquivo pode ser uma URL ou seu endereço de arquivo local.<br>

Como os dados não inclue o cabeçalho, usamos o argumento <code> header = none</code> dentro do método <code>read_csv()</code> para que a pandas não defina automaticamente a primeira linha como um cabeçalho.<br>

Você também pode atribuir o conjunto de dados a qualquer variável que você criar, no nosso caso essa variável se cham "df" de DataFrame.

</p>

In [ ]:
# Ler o arquivo, e atribua-o à variável "df".
my_file = "https://raw.githubusercontent.com/EduPekUfpr/PPGOLD7037/main/Data/winequality.csv"

# Atribuir o arquivo a uma váriável DataFrame
df = pd.read_csv( my_file )

* Após a leitura do conjunto de dados, podemos usar o método <code>dataframe.head(n)</code> para verificar as primeiras n linhas do quadro de dados, onde n é um número inteiro.
* Ao contrário de <code>dataframe.head(n)</code>, <code>dataframe.tail(n)</code> mostrará as n filas inferiores do dataframe.

In [ ]:
# mostrar as 10 primeiras linhas usando o método dataframe.head()

As primeiras 10 linhas do dataframe são:

,color,grape,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,red,Grenache,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,red,Malbec,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.2,0.68,9.8,5
2,red,Petite Sirah,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.997,3.26,0.65,9.8,5
3,red,Montepulciano,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.998,3.16,0.58,9.8,6
4,red,Petite Sirah,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
5,red,Grenache,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5
6,red,Montepulciano,7.9,0.60,0.06,1.6,0.069,15.0,59.0,0.9964,3.3,0.46,9.4,5
7,red,Malbec,7.3,0.65,0.00,1.2,0.065,15.0,21.0,0.9946,3.39,0.47,10.0,7
8,red,Syrah,7.8,0.58,0.02,2.0,0.073,9.0,18.0,0.9968,3.36,0.57,9.5,7
9,?,?,7.5,0.50,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.8,10.5,5

## TAREFA 1

Mostrar as 10 últimas linhas do DF

In [ ]:
# mostrar as 10 últimas linhas usando o método dataframe.tail()
print("As últimas 10 linhas do dataframe são:")
# INSIRA O SEU Código AQUI

As últimas 10 linhas do dataframe são:

# <h1 id="basic_insight">Entendimento e Preparação do Dataset</h1>
<p>
Depois de ler os dados em um dataframe, está na hora de explorarmos estes dados.<br>

Há várias maneiras de obter insights inicias dos dados para nos ajudar a entender melhor nosso conjunto de dados.

</p>


---

<h3>Cabeçalho do DataFrame</h3>
<p>
Dê uma olhada em nosso conjunto de dados. O Pandas define automaticamente o cabeçalho com um número inteiro a partir de 0.
</p>
<p>
Para melhor descrever nossos dados, podemos colocar um cabeçalho. Esta informação está disponível em:  <a href="https://archive.ics.uci.edu/ml/datasets/Automobile?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDA0101ENSkillsNetwork20235326-2021-01-01" target="_blank">https://archive.ics.uci.edu/ml/datasets/Automobile</a>.
</p>
<p>
Portanto, temos que adicionar cabeçalhos manualmente.
</p>
<p>


Primeiramente, criamos uma lista de "cabeçalhos" que inclui todos os nomes de colunas em ordem.

Depois, usamos <code>ddataframe.columns = headers</code>  para substituir os cabeçalhos com a lista que criamos.

</p>

### Os valores ausentes deste DF estão padronizados com o símbolo "?"

Então, precisamos substituir o símbolo "?" por NaN para que o dropna() possa remover os valores em falta.

Para a documentação do NaN veja https://numpy.org/doc/stable/reference/constants.html?highlight=nan#numpy.nan

In [ ]:
# troque os símbolso de '?' por nan

,color,grape,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,red,Grenache,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,red,Malbec,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.2,0.68,9.8,5
2,red,Petite Sirah,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.997,3.26,0.65,9.8,5
3,red,Montepulciano,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.998,3.16,0.58,9.8,6
4,red,Petite Sirah,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
5,red,Grenache,7.4,0.66,0.00,1.8,0.075,13.0,40.0,0.9978,3.51,0.56,9.4,5
6,red,Montepulciano,7.9,0.60,0.06,1.6,0.069,15.0,59.0,0.9964,3.3,0.46,9.4,5
7,red,Malbec,7.3,0.65,0.00,1.2,0.065,15.0,21.0,0.9946,3.39,0.47,10.0,7
8,red,Syrah,7.8,0.58,0.02,2.0,0.073,9.0,18.0,0.9968,3.36,0.57,9.5,7
9,NaN,NaN,7.5,0.50,0.36,6.1,0.071,17.0,102.0,0.9978,3.35,0.8,10.5,5

# <h1 id="basic_insight">Um <i>lOOk</i> no <i>DataSet</i></h1>

<p>
Depois de ler os dados em um Pandas dataframe, é hora de explorarmos o <i>DataSet</i>.<br>

Há várias maneiras de obtermos os insights essenciais dos dados, o que nos ajudará a entender melhor nosso <i>DataSet</i>.

</p>

<h2>Data Types</h2>

Os dados vêm em vários tipos.<br>

Os principais tipos armazenados em DataFrames Pandas são <b>object</b>, <b>float</b>, <b>int</b>, <b>bool</b> e <b>datetime64</b>.

Para conhecer melhor cada atributo, é sempre bom para nós conhecermos o tipo de dados de cada coluna.
Na Biblioteca Pandas para verificar os tipos digite:

```
df.dtypes
```

E uma série com o tipo de dado de cada coluna será retornada.
    
Para mais informações sobre os tipos básicos de dados na Pandas veja:
* https://pandas.pydata.org/docs/user_guide/basics.html#basics-dtypes
* https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dtypes.html

In [ ]:
# Imprimir os tipos de dados de cada coluna do DataFrame

color                    object
grape                    object
fixed acidity           float64
volatile acidity        float64
citric acid             float64
residual sugar          float64
chlorides                object
free sulfur dioxide     float64
total sulfur dioxide    float64
density                  object
pH                       object
sulphates                object
alcohol                  object
quality                  object
dtype: object

Aqui nós podemos notar as colunas price, horsepower entre outras que deveriam ser numéricas mas são object (String). Isso acontece por que os valores vazios foram marcados com '?' que é uma string. Então, ao ler o DF se o PANDAS encontra um único valor "string" ele fixa o tipo da coluna toda como string.

Veremos como arrumar isso no pré processamento.

<h2>Método Describe</h2>
Se quisermos obter um resumo estatístico de cada coluna, por exemplo, contagem, valor médio da coluna, desvio padrão da coluna, etc., usamos o método describe()

[link text](https://)
Este método fornecerá várias estatísticas resumidas, excluindo valores <code>NaN</code>

## TAREFA 2

In [ ]:
# Este método fornecerá várias estatísticas resumidas, excluindo valores NaN

# INCLUA SEU CÓDIGO AQUI

<p>
Ele mostra o resumo estatístico de todas as colunas numéricas (int, float).<br>

Por exemplo, o atributo "symboling" tem 205 valores, o valor médio desta coluna é 0.83, o desvio padrão é 1.25, o valor mínimo é -2, o percentil 25 é 0, o percentil 50 é 1, o percentil 75 é 2, e o valor máximo é 3. <br>

No entanto, e se também quisermos verificar todas as colunas, incluindo aquelas que são do tipo objeto? <br>

Você pode adicionar um argumento <code>include = "all"</code> dentro do colchete. Vamos tentar novamente.

</p>

In [ ]:
# describe all the columns in "df"

,color,grape,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,6402,6161,6497.000000,6497.000000,6497.000000,6497.000000,5932,6497.000000,6497.000000,6249,6485,6234,6408,6452
unique,6,24,NaN,NaN,NaN,NaN,213,NaN,NaN,988,108,111,109,7
top,white,Pinot Blanc,NaN,NaN,NaN,NaN,0.044000000000000004,NaN,NaN,0.9976,3.16,0.5,9.5,6
freq,4660,430,NaN,NaN,NaN,NaN,191,NaN,NaN,68,200,265,364,2821
mean,NaN,NaN,7.215307,0.339666,0.318633,5.443235,NaN,30.525319,115.744574,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,1.296434,0.164636,0.145318,4.757804,NaN,17.749400,56.521855,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,3.800000,0.080000,0.000000,0.600000,NaN,1.000000,6.000000,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,6.400000,0.230000,0.250000,1.800000,NaN,17.000000,77.000000,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,7.000000,0.290000,0.310000,3.000000,NaN,29.000000,118.000000,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,7.700000,0.400000,0.390000,8.100000,NaN,41.000000,156.000000,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,15.900000,1.580000,1.660000,65.800000,NaN,289.000000,440.000000,NaN,NaN,NaN,NaN,NaN

<h2>Método Info</h2>
Um outro método para dar um lOOK no dataSet é o <code> info() </code>

Ele fornece um resumo conciso de seu DataFrame.

Este método imprime informações sobre um DataFrame, incluindo o tipo de índice e colunas, valores não-nulos e uso de memória.

In [ ]:
# look at the info of "df"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6497 entries, 0 to 6496
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   color                 6402 non-null   object
 1   grape                 6161 non-null   object
 2   fixed acidity         6497 non-null   float64
 3   volatile acidity      6497 non-null   float64
 4   citric acid           6497 non-null   float64
 5   residual sugar        6497 non-null   float64
 6   chlorides             5932 non-null   object
 7   free sulfur dioxide   6497 non-null   float64
 8   total sulfur dioxide  6497 non-null   float64
 9   density               6249 non-null   object
 10  pH                    6485 non-null   object
 11  sulphates             6234 non-null   object
 12  alcohol               6408 non-null   object
 13  quality               6452 non-null   object
dtypes: float64(6), object(8)
memory usage: 710.7+ KB

# Pré processamento do dados

<p>

---


</p>

### Tipo dos dados

Para trocar o tipo dos dados usamos:

```
as.type(int)
```
ou

```
as.type(float)
```

In [ ]:
#Trocando o tipo das colunas com erro

df['chlorides'] = df['chlorides'].astype(float)
df['density'] = df['density'].astype(float)
df['pH'] = df['pH'].astype(float)


df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6497 entries, 0 to 6496
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   color                 6402 non-null   object
 1   grape                 6161 non-null   object
 2   fixed acidity         6497 non-null   float64
 3   volatile acidity      6497 non-null   float64
 4   citric acid           6497 non-null   float64
 5   residual sugar        6497 non-null   float64
 6   chlorides             5932 non-null   float64
 7   free sulfur dioxide   6497 non-null   float64
 8   total sulfur dioxide  6497 non-null   float64
 9   density               6249 non-null   float64
 10  pH                    6485 non-null   float64
 11  sulphates             6234 non-null   float64
 12  alcohol               6408 non-null   float64
 13  quality               6452 non-null   float64
dtypes: float64(12), object(2)
memory usage: 710.7+ KB

## TAREFA 3

Agora é sua vez mude os tipos das colunas 'sulphates', 'alcohol' e 'quality'

In [ ]:
## Coloque seu código Aqui




# Deixe essa linha para eu poder ver o final
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6497 entries, 0 to 6496
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   color                 6402 non-null   object
 1   grape                 6161 non-null   object
 2   fixed acidity         6497 non-null   float64
 3   volatile acidity      6497 non-null   float64
 4   citric acid           6497 non-null   float64
 5   residual sugar        6497 non-null   float64
 6   chlorides             5932 non-null   float64
 7   free sulfur dioxide   6497 non-null   float64
 8   total sulfur dioxide  6497 non-null   float64
 9   density               6249 non-null   float64
 10  pH                    6485 non-null   float64
 11  sulphates             6234 non-null   float64
 12  alcohol               6408 non-null   float64
 13  quality               6452 non-null   float64
dtypes: float64(12), object(2)
memory usage: 710.7+ KB

# Exportando o seu dataFrame

<p>
A Pandas nos permite salvar os dados para um arquivo csv. Usando o método <code>dataframe.to_csv()</code>, você pode adicionar o caminho e o nome do arquivo juntamente com aspas entre parênteses.
</p>
<p>
Por exemplo, se você salvar o DataFrame <b>df</b> como <b>Auto.csv</b> em sua máquina local, você pode usar a sintaxe abaixo, onde <code>index = False</code> significa que os nomes das linhas não serão escritos.

---


</p>

In [ ]:
path = "wine_limpo.csv"

#path = "C:/windows/.../Auto.csv"
#path = "/Users/pecorajr/Documents/Auto.csv"

df.to_csv(path, index = False)

Também podemos ler e salvar outros formatos de arquivo. Podemos utilizar funções similares como **`pd.read_csv()`** e **`df.to_csv()`** para outros formatos de dados.

As funções estão listadas na tabela a seguir:

<h3>Read/Save em outros formatos de dados

|   Formato    |        Read       |            Save |
| ------------ | :---------------: | --------------: |
| csv          |  `pd.read_csv()`  |   `df.to_csv()` |
| json         |  `pd.read_json()` |  `df.to_json()` |
| excel        | `pd.read_excel()` | `df.to_excel()` |
| hdf          |  `pd.read_hdf()`  |   `df.to_hdf()` |
| sql          |  `pd.read_sql()`  |   `df.to_sql()` |
| ...          |        ...        |             ... | </h3>

## References

Inspired and translated from the material developed by <a href="https://www.linkedin.com/in/joseph-s-50398b136/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDA0101ENSkillsNetwork20235326-2021-01-01" target="_blank">Joseph Santarcangelo</a>
<br>

## Change Log

|  Date (YYYY-MM-DD) |  Version | Changed By  |  Change Description |
|---|---|---|---|
| 2021-09-29  | 0.9  | <a href="https://www.linkedin.com/in/eduardopecora/" target="_blank">Eduardo Pécora</a> |  Initial development |
| 2023-06-22  | 1.0  | <a href="https://www.linkedin.com/in/eduardopecora/" target="_blank">Eduardo Pécora</a> |  Lab Format |

<hr>